USE [DangKyMonHoc_K235480106045]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhGiaQuaMon]    Script Date: 5/3/2026 1:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Multi-statement Table-Valued Function: Đánh giá qua môn (Sử dụng biến bảng)
CREATE FUNCTION [dbo].[fn_DanhGiaQuaMon] (@MaMH INT)
RETURNS @KetQua TABLE (
    [MaSinhVien] VARCHAR(20),
    [HoTen] NVARCHAR(100),
    [TrangThai] NVARCHAR(50)
)
AS
BEGIN
    INSERT INTO @KetQua ([MaSinhVien], [HoTen], [TrangThai])
    SELECT s.[MaSinhVien], s.[HoTen],
           CASE WHEN d.[DiemTongKet] >= 4.0 THEN N'Đạt' ELSE N'Học lại' END
    FROM [SinhVien] s JOIN [DangKyHoc] d ON s.[MaSinhVien] = d.[MaSinhVien]
    WHERE d.[MaMonHoc] = @MaMH;
    
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TongHocPhiSinhVien]    Script Date: 5/3/2026 1:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Scalar Function: Tính tổng học phí của 1 sinh viên
CREATE FUNCTION [dbo].[fn_TongHocPhiSinhVien] (@MaSV VARCHAR(20))
RETURNS MONEY
AS
BEGIN
    DECLARE @Tong MONEY;
    SELECT @Tong = SUM(m.[HocPhi])
    FROM [DangKyHoc] d JOIN [DanhSachMonHoc] m ON d.[MaMonHoc] = m.[MaMonHoc]
    WHERE d.[MaSinhVien] = @MaSV;
    RETURN ISNULL(@Tong, 0);
END;
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 5/3/2026 1:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSinhVien] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyHoc]    Script Date: 5/3/2026 1:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHoc](
	[MaDangKy] [int] IDENTITY(1,1) NOT NULL,
	[MaSinhVien] [varchar](20) NULL,
	[MaMonHoc] [int] NULL,
	[NgayDangKy] [datetime] NULL,
	[DiemTongKet] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhSachLopHoc]    Script Date: 5/3/2026 1:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Inline Table-Valued Function: Lấy danh sách lớp theo Mã Môn Học
CREATE FUNCTION [dbo].[fn_DanhSachLopHoc] (@MaMH INT)
RETURNS TABLE
AS
RETURN (
    SELECT s.[MaSinhVien], s.[HoTen], d.[DiemTongKet]
    FROM [SinhVien] s JOIN [DangKyHoc] d ON s.[MaSinhVien] = d.[MaSinhVien]
    WHERE d.[MaMonHoc] = @MaMH
);
GO
/****** Object:  Table [dbo].[DanhSachMonHoc]    Script Date: 5/3/2026 1:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachMonHoc](
	[MaMonHoc] [int] IDENTITY(1,1) NOT NULL,
	[TenMonHoc] [nvarchar](100) NOT NULL,
	[SoTinChi] [tinyint] NULL,
	[HocPhi] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogXoaDangKy]    Script Date: 5/3/2026 1:02:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogXoaDangKy](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[MaSinhVien] [varchar](20) NULL,
	[MaMonHoc] [int] NULL,
	[ThoiGianXoa] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DangKyHoc] ON 

INSERT [dbo].[DangKyHoc] ([MaDangKy], [MaSinhVien], [MaMonHoc], [NgayDangKy], [DiemTongKet]) VALUES (1, N'K61001', 1, CAST(N'2026-01-15T00:00:00.000' AS DateTime), 8.5)
INSERT [dbo].[DangKyHoc] ([MaDangKy], [MaSinhVien], [MaMonHoc], [NgayDangKy], [DiemTongKet]) VALUES (2, N'K61001', 2, CAST(N'2026-01-16T00:00:00.000' AS DateTime), 7)
INSERT [dbo].[DangKyHoc] ([MaDangKy], [MaSinhVien], [MaMonHoc], [NgayDangKy], [DiemTongKet]) VALUES (3, N'K61002', 3, CAST(N'2026-01-15T00:00:00.000' AS DateTime), 9)
SET IDENTITY_INSERT [dbo].[DangKyHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhSachMonHoc] ON 

INSERT [dbo].[DanhSachMonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi], [HocPhi]) VALUES (1, N'Kiến trúc Máy tính', 3, 1200000.0000)
INSERT [dbo].[DanhSachMonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi], [HocPhi]) VALUES (2, N'Xử lý Tín hiệu Số', 3, 1200000.0000)
INSERT [dbo].[DanhSachMonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi], [HocPhi]) VALUES (3, N'Thiết kế Mạch điện tử', 4, 1600000.0000)
SET IDENTITY_INSERT [dbo].[DanhSachMonHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[LogXoaDangKy] ON 

INSERT [dbo].[LogXoaDangKy] ([LogID], [MaSinhVien], [MaMonHoc], [ThoiGianXoa]) VALUES (1, N'K61003', 1, CAST(N'2026-05-03T01:31:20.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[LogXoaDangKy] OFF
GO
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [NgaySinh], [Email]) VALUES (N'K61001', N'Trần Anh Minh', CAST(N'2004-05-12' AS Date), N'minhta@gmail.com')
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [NgaySinh], [Email]) VALUES (N'K61002', N'Lê Ngọc Ánh', CAST(N'2004-08-20' AS Date), N'anhln@gmail.com')
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoTen], [NgaySinh], [Email]) VALUES (N'K61003', N'Nguyễn Hữu Toàn', CAST(N'2004-11-05' AS Date), N'toannh@gmail.com')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SinhVien__A9D105345779A0B2]    Script Date: 5/3/2026 1:02:42 PM ******/
ALTER TABLE [dbo].[SinhVien] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKyHoc] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[LogXoaDangKy] ADD  DEFAULT (getdate()) FOR [ThoiGianXoa]
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[DanhSachMonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[DangKyHoc] CHECK CONSTRAINT [FK_MonHoc]
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhVien] ([MaSinhVien])
GO
ALTER TABLE [dbo].[DangKyHoc] CHECK CONSTRAINT [FK_SinhVien]
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD CHECK  (([DiemTongKet]>=(0) AND [DiemTongKet]<=(10)))
GO
ALTER TABLE [dbo].[DanhSachMonHoc]  WITH CHECK ADD CHECK  (([SoTinChi]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyMoi]    Script Date: 5/3/2026 1:02:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP Thực hiện INSERT có kiểm tra logic (Đăng ký mới)
CREATE PROCEDURE [dbo].[sp_DangKyMoi]
    @MaSV VARCHAR(20), @MaMH INT
AS
BEGIN
    -- Kiểm tra sinh viên có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM [SinhVien] WHERE [MaSinhVien] = @MaSV)
        PRINT N'Lỗi: Sinh viên không tồn tại!';
    -- Kiểm tra môn học có tồn tại không
    ELSE IF NOT EXISTS (SELECT 1 FROM [DanhSachMonHoc] WHERE [MaMonHoc] = @MaMH)
        PRINT N'Lỗi: Môn học không tồn tại!';
    ELSE
    BEGIN
        INSERT INTO [DangKyHoc]([MaSinhVien], [MaMonHoc]) VALUES (@MaSV, @MaMH);
        PRINT N'Đăng ký thành công!';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DemSoMonHoc]    Script Date: 5/3/2026 1:02:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP sử dụng tham số OUTPUT (Đếm số môn học của sinh viên)
CREATE PROCEDURE [dbo].[sp_DemSoMonHoc]
    @MaSV VARCHAR(20), 
    @SoLuong INT OUTPUT
AS
BEGIN
    SELECT @SoLuong = COUNT(*) FROM [DangKyHoc] WHERE [MaSinhVien] = @MaSV;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XemBangDiem]    Script Date: 5/3/2026 1:02:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP trả về Result set từ SELECT join nhiều bảng (Xem bảng điểm tổng hợp)
CREATE PROCEDURE [dbo].[sp_XemBangDiem] (@MaSV VARCHAR(20))
AS
BEGIN
    SELECT s.[HoTen], m.[TenMonHoc], d.[DiemTongKet]
    FROM [DangKyHoc] d
    JOIN [SinhVien] s ON d.[MaSinhVien] = s.[MaSinhVien]
    JOIN [DanhSachMonHoc] m ON d.[MaMonHoc] = m.[MaMonHoc]
    WHERE d.[MaSinhVien] = @MaSV;
END;
GO
